.parrafo{
    color: grey;
    font-family: 'Josefin Slab', serif;
    margin: 0;
    padding: 0;
    border-width: 0;
    font-size: 30px;
    font-weight: 100;
    line-height: 200%;
    margin-top: -32px;
    opacity: 1.5;
    margin-bottom: 5px;
}
.Titulo{
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
}
.imgLogo{
    width: 300px;
    height: auto;
    margin-bottom: 50px;
}
.log{
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.6);
}
 /* label focus color */
   .input-field input[type=email]:focus:not([readonly]){
     box-shadow: 0 1px 0 0 #2c0068;
     border-bottom: 1px solid #2c0068;
}
   .input-field input[type=email]:focus + label {
     color: #2c0068 !important;
}

   .input-field input[type=password]:focus:not([readonly]){
     box-shadow: 0 1px 0 0 #2c0068;
     border-bottom: 1px solid #2c0068;
}
   .input-field input[type=password]:focus + label {
     color: #2c0068 !important;
}