 body {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

main {
	flex: 1 0 auto;
}

/*HEADER*/

nav{
	min-height: 18vh;
}

.brand-logo{
	width: 30vh;
	margin: 10px 40px;
}

@media (max-width: 768px) {
	.brand-logo {
	    margin: 10px 0px;
	}
}

@media (min-width: 1600px) {
	nav{
		min-height: 14vh;
	}
	.brand-logo{
		width: 25vh;
	}
}

/*FIN HEADER*/

/*PORTADA*/

#portada{
  background: #ffffff url('../img/portada.jpg') no-repeat center center;
  background-size: cover;
  min-height: 75vh;
}

	#portada .message-portada{
	  margin-top: 30vh;
	  text-align: right;
	}

	#portada .message-portada p{
	  color: #fff;
	  font-size: 2.2rem;
	  font-weight: lighter;
	}

	#portada .message-portada p span{
	  font-weight: bold;
	}

	#portada img{
		position: absolute; 
		right: 20vh;
		bottom:-20vh;
		width: 50vh;
	}

	#portada .arrow-down{
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		width: 60px;
		height: 60px;
		background: #fff;
		border-radius: 50%;
		cursor: pointer;
	}

	#portada .arrow-down i{
		font-size: 35px;
		color: #555;
		margin: 0 auto;
	}

@media (max-width: 768px){
	#portada .message-portada{
	  margin-top: 8vh;
	  text-align: center;
	}
	#portada .message-portada p{
	  color: #fff;
	  font-size: 1.7rem;
	  font-weight: lighter;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	#portada .message-portada{
	  margin-top: 20vh;
	}
	#portada .arrow-down{
		bottom: 0;
	}
	#portada .message-portada{
	  margin-top: 20vh;
	}
	#portada .message-portada p{
	  color: #fff;
	  font-size: 2.2rem;
	  font-weight: lighter;
	}
}

@media (min-width: 1600px) {
	#portada{
	  min-height: 79vh;
	}

	#portada .message-portada{
	  margin-top: 35vh;
	}
	#portada .message-portada p{
	  font-size: 45px;
	}
	#portada .arrow-down{
		bottom: 40px;
	}
	#portada .arrow-down{
		bottom: 30px;
		width: 75px;
		height: 75px;
	}
	#portada .arrow-down i{
		font-size: 45px;
	}
}

/*FIN PORTADA*/

/*CONTENIDO PRINCIPAL*/

#content{
  padding-bottom: 280px;
}

	#content .init p {
	  margin: 40px 0;
	  font-size: 17px;
	}

	#content .tarjeta .card-image {
	  width: 30%;
	  background: #ff0082;
	  padding: 25px;
	}

	#content .tarjeta .card-content {
	    padding: 15px 20px;
	}

	#content .tarjeta .card-content h3{
		color: #0161da;
		font-size: 17px;
		margin-top: 0;
	} 

	#content .tarjeta .card-content p{
		font-size: 14px;
		margin: 0;
	} 
	#content .tarjeta .card-content p span{
		font-weight: bolder;
	}

	#content .form{
		position: absolute;
		right: 50%;
		transform: translateX(50%);
		background-color: #fff;
		margin-top: 60px;
	}
	#content .form form{
		padding: 0 60px;
	}

	#content .form .title_form{
		color: #0161da;
		margin-bottom: 10px;
		transform: rotate(-1.5deg);
		font-weight: bolder;
		font-style: italic;
	}

	#content .form .title_form span {
	  border-bottom: 5px solid #0161da; /* same color as the background */
	}

	#content .form .title_span{
		font-size: 18px;
		color: #444;
	}

	#content .form i{
		color: #888;
	}

	.input-field input[type=text]{
    margin-bottom: 0;
   }
   .input-field input[type=email]{
    margin-bottom: 0;
   }

	/*color formulario*/

   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #0161da;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #0161da;
     box-shadow: 0 1px 0 0 #0161da;
   }
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #0161da;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #0161da;
     box-shadow: 0 1px 0 0 #0161da;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #0161da!important;
   }
   .btn[type=submit]{
   	background-color: #0161da;
   }

 @media (max-width: 768px){
 	#content .form {
	    margin-top: 0px; 
	}
	#content .form form{
	    padding: 0 20px;
	}
	#content .form .title_form {
	    font-size: 2rem;
	}
	#content .form .title_form span {
	    border-bottom: 4px solid #0161da;
	}
	#content .form .title_span {
    	font-size: 16px;
	    color: #444;
	}
	#content .init p {
	    margin: 40px 0;
	    text-align: center;
	  	font-size: 16px;
	}
 }

@media (max-width: 768px){
	
}

   /*fin color formulario*/
@media (min-width: 768px) and (max-width: 992px){
	#content .init p {
	  margin-top: 40%;
	}
}

@media (min-width: 1600px) {
	#content .init p {
	  margin: 90px 0;
	  font-size: 19px;
	}
	#content .tarjeta .card-content h3{
		font-size: 21px;
	} 

	#content .tarjeta .card-content p{
		font-size: 19px;
	} 
	#content .tarjeta .card-image {
	  padding: 40px;
	}
	#content .form .title_form{
		font-size: 65px;
	}
	#content .form .title_span{
		font-size: 22px;
	}
}


/* FIN CONTENIDO PRINCIPAL*/

/*FOOTER*/
footer.page-footer{
	padding-top: 200px;
}

	footer .social_media {
	  display: inline-flex;
	}

	footer .social_media a {
	  margin: 10px;
	}

	footer .social_media .social{
		display: flex;
	    width: 50px;
		height: 50px;
		border-radius: 50%;
		cursor: pointer;
	}

	footer h5{
	  font-size: 20px;
	  font-weight: lighter;
	}

	footer .social_media .social i{
	  font-size: 26px;
	  margin: 0 auto;
	}

	footer.page-footer .footer-copyright {
	  background-color: rgba(51, 51, 51, 0.82);
	}

	footer.page-footer .footer-copyright i.fa-heart{
	  color: #ec691c;
	}

 @media (max-width: 768px){
 	footer.page-footer{
		padding-top: 130px;
	}
 }

@media (min-width: 1600px) {
	footer.page-footer{
		padding-top: 220px;
	}
}

	/*FIN FOOTER*/
